/*PAGE / GENERAL ELEMENTS*/

body {
	font-family: 'Montserrat', sans-serif;
	background-color: lightgrey;
}
body .container-fluid {
	padding: 0px;
}
.trans-box {
	background-color: rgba(43,46,47,0.7);
	padding: 0px;
}
.trans-box .row {
	margin: 0px;
}
.flexbox {
 display:flex;
 justify-content:space-around;
 align-items: center;
 flex-flow: column;
 text-align: center;
}

/*PAGE HEADER*/

.page-header {
	text-align: center;
	padding: 0px;
	border: 0px;
	margin: 0px;
}
.page-header h1 {
	font-size: 48px;
	letter-spacing: 14px;
	margin: 0px;
}
.page-header h3 {
	font-family: 'Rochester', cursive;
	font-size: 56px;
	margin-top: -30px;
}

/*NAVBAR*/

.centered {
    display: inline-block;
    float: none;
	vertical-align: middle;
}
.navbar {
	border-radius: 0px;
}
.navbar .navbar-header {
	background-color: white;
}
.navbar .container-fluid {
	padding: 0px;
}
.navbar .navbar-collapse {
    text-align: center;
	padding: 0px;
}
.navbar.navbar-default {
	margin-bottom: 4px;
	border: 0px;
}
.logo-box {
	width: 158px;
	padding: 0px;
}
.navbar-brand {
	padding: 0px;
}
.navbar-brand img {
	height: 50px;
}

/*JUMBOTRON*/

.jumbotron-row > div {
    padding: 0px;
}
.jumbotron {
	margin: 0px;
	height: 348px;
}
.jumobotron .container {
	padding-left: 0px;
	padding-right: 0px;
}
.jumbotron-row .jumbotron {
	border-radius: 0px;
}
.jumbotron-row .col-md-8 .jumbotron {
    background-image: url('images/tuscany-villas-sant-anna.jpg');
}
.jumbotron-row .jumbotron .trans-box {
	color: white;
	padding: 10px;
	text-align: center;
}
.trans-box p {
	margin: 0px;
}
.arrow {
	float: right;
    margin: -10px 15px;
}

/*RIGHT JUMBOTRON*/
.white-box {
	background-color: rgb(210,210,210);
	padding: 0px;
	text-align: center;
	max-height: 108px;
}
.white-box h6 {
    padding-bottom: 10px;
	margin: 10px 0px 0px 0px;
}
.white-box .mag-glass {
	float: right;
}
.jumbotron-row .col-md-4 .jumbotron {
	background-image: url('images/Versilia2.png');
	max-width: 557px;
}
.jumbotron-row .col-md-4 .jumbotron p {
	margin: 0px;
}
.jumbotron-row .col-md-4 .jumbotron .white-box {
	font-family: 'Montserrat', sans-serif;
	padding: 10px 10px 0px 10px;
}

/*GRID (GENERAL)*/
.main-row .col-md-3 {
    padding: 0px;
    border: 0px;
    margin: 0px;
}
.main-row .panel {
	border-radius: 0px;
}
.col-md-3 {
	max-width: 348px;
}
.thumbnail{
    height: 348px;
	max-width: 348px;
	margin: 0px;
    border-radius: 0px;
}

/*GRID (SPECIFIC)*/

.btn,
.btn:focus {
	border-radius: 0px;
	background: rgba(0,0,0,0);
}
.btn:hover {
    background: rgba(0,0,0,0.1);
}
.btn:active {
    background: rgba(0,0,0,0.2);
    box-shadow: none;
}
.btn.learn-more {
	border: 1px solid skyblue;
	color: skyblue;
}
.btn.learn-more:hover {
    border-color: deepskyblue;
    color: deepskyblue;
}
.btn.btn-reviews {
	border: 1px solid #3e9789;
	color: #3e9789;
}
#properties-button {
	background-color: skyblue;
}

.left-sell-box {
	padding-top: 10px;
}
.left-sell-box p {
	color: white;
	text-align: center;
	margin: 0px;
	word-spacing: 5px;
}
.left-sell-box h1 {
	font-size: 18px;
	margin: 0px;
	color: white;
	text-align: center;
}

.right-sell-box {
	padding: 10px;
	background-color: mediumaquamarine;
}
.right-sell-box p {
	color: white;
	text-align: center;
	margin: 0px;
}
.right-sell-box h1 {
	margin: 0px;
	color: white;
	font-size: 18px;
	text-align: center;
}

.bottom-box {
	margin-top: 280px;
}


.idea-box {
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 15px;
}
.idea-box p {
	padding: 3px 20px;
	margin: 0px;
}
.idea-box h6 {
    margin: 0px;
    font-size: 10px;
}

.text-box {
	text-align: center;
	padding: 20px;
}
.text-box h2 {
	font-size: 24px;
}



.row1col1 {
	padding: 20px;
}
.row1col1 h3 {
	color: cadetblue;
}

/*GRID IMAGES*/

.row1col2 {
	background-image: url('images/314-348x348.jpg');
}

.row1col3 {
	background-image: url('images/42-348x348.jpg');
}

.row1col4 {
	background-image: url('images/3b-348x348.jpg');
}

.row2col1 {
	background-image: url('images/Villa-Rucellai-Toscani-2750-2-348x348.jpg');
}

.row3col2 {
	background-image: url('images/Villa-Vanna-231-348x348.jpg');
}

.row2col3 {
	background-image: url('images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
}


.row3col3 {
	background-color: mediumaquamarine;
}
.row3col3 > div {
    height: 98%;
    width: 95%;
	border: 2px solid cadetblue;
	color: white;
}
.row3col3 * {
    margin: 0px;
}
.row3col3 h4 {
	font-size: 14px;
}
.row3col3 h1 {
	font-size: 54px;
	font-style: italic;
}
.row3col3 h3 {
	font-size: 24px;
}
.row3col3 h2 {
	font-size: 44px;
	font-style: italic;
}

.row3col4 {
	background-image: url('images/box_partners.png');
	background-repeat: no-repeat;
	background-position: center;
}

.row3col4 p {
	padding-top: 50px;
}

/*FOOTER*/

.footer {
	background-color: #e4e4e4;
	color: dimgray;
	padding: 40px;
    padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.footer .col-md-11 {
    padding-left: 30px;
}
#greylogo {
	padding-top: 25px;
}