body {
	font-family: 'Montserrat', sans-serif;
	background-color: lightgrey;
}

body .container-fluid {
	padding: 0px;
}
.page-header {
	text-align: center;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.page-header h1 {
	font-size: 48px;
	letter-spacing: 14px;
	margin: 0px;
}

.page-header h3 {
	font-family: 'Rochester', cursive;
	font-size: 56px;
	margin-top: -30px;
}

.centered {
    display: inline-block;
    float: none;
	vertical-align: middle;
}

.navbar {
	border-radius: 0px;
}

.navbar .navbar-header {
	background-color: white;
}

.navbar .container-fluid {
	padding: 0px;
}

.navbar .navbar-collapse {
    text-align: center;
	padding: 0px;
}

.navbar.navbar-default {
	margin-bottom: 4px;
	border: 0px;
}



.logo-box {
	width: 158px;
	padding: 0px;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand img {
	height: 50px;
}

.jumbotron {
	margin: 0px;
	height: 348px;
}

.jumobotron .container {
	padding-left: 0px;
	padding-right: 0px;
}

.container .jumbotron {
	border-radius: 0px;
}


.big-jumbo {
	background-image: url('images/tuscany-villas-sant-anna.jpg');
}

.big-jumbo-text {
	color: white;
	padding: 10px;
}

.big-jumbo-text p {
	margin: 0px;
}

.trans-box {
	background-color: rgba(43,46,47,0.7);
	padding: 0px;
}

.trans-box .row {
	margin: 0px;
}

.left-sell-box {
	padding-top: 10px;
}

.left-sell-box p {
	color: white;
	text-align: center;
	margin: 0px;
	word-spacing: 5px;
}

.left-sell-box h1 {
	font-size: 18px;
	margin: 0px;
	color: white;
	text-align: center;
}

.right-sell-box {
	padding: 10px;
	background-color: mediumaquamarine;
}

.right-sell-box p {
	color: white;
	text-align: center;
	margin: 0px;
}

.right-sell-box h1 {
	margin: 0px;
	color: white;
	font-size: 18px;
	text-align: center;
}

.bottom-box {
	margin-top: 280px;
}

.white-box {
	background-color: rgb(210,210,210);
	padding: 0px;
}

.map-jumbo {
	background-image: url('images/Versilia2.png');
	max-width: 557px;
}

.map-jumbo p {
	margin: 0px;
}

.map-jumbo-text {
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
}

.no-padding {
	padding-right: 0px;
	padding-left: 0px;
}

.grid-box .col-md-3 {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}

.big-grid-box {
	margin: auto;
	border: 0px;
}

.col-md-3 {
	border: 0px;
}

.grid-box .panel .thumbnail {
	border-radius: 0px;
}

.col-md-3.panel {
	max-width: 348px;
}

.panel .thumbnail{
	height: 348px;
	max-width: 348px;
}

.thumbnail {
	margin: 0px;
}

.grid-box .panel .thumbnail .idea-box {
	color: white;
	padding: 10px 0px;
	text-align: center;
}
.grid-box .panel .thumbnail .idea-box p {
	padding: 3px 20px;
	margin-bottom: 0px;
}

.grid-box .panel .thumbnail .idea-box {
	text-align: center;
	font-size: 15px;
}

.grid-box .panel .thumbnail .idea-box h6 {
	margin: 0px;
	padding: 0px 15px;
	font-size: 10px;
}

.grid-box .panel .thumbnail .text-box {
	text-align: center;
	padding: 20px;
}

.grid-box .panel .thumbnail .text-box h2 {
	font-size: 24px;
}

.flexbox {
 display:flex;
 justify-content:space-around;
 align-items: center;
 flex-flow: column;
 text-align: center;
}

.row1col1 .container-fluid {
	padding: 20px;
}

.row1col1 h3 {
	color: cadetblue;
}

.row1col2 {
	background-image: url('images/314-348x348.jpg');
}

.row1col3 {
	background-image: url('images/42-348x348.jpg');
}

.row1col4 {
	background-image: url('images/3b-348x348.jpg');
}

.row2col1 {
	background-image: url('images/Villa-Rucellai-Toscani-2750-2-348x348.jpg');
}

.row2col3 {
	background-image: url('images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
}

.row3col2 {
	background-image: url('images/Villa-Vanna-231-348x348.jpg');
}

.row3col3 {
	background-color: mediumaquamarine;
}

.row3col3 .container-fluid {
	padding: 35px 25px;
	border: 2px solid cadetblue;
	color: white;
}

.row3col3 .container-fluid h4 {
	font-size: 14px;
	margin: 0px;
}

.row3col3 .container-fluid h1 {
	font-size: 54px;
	margin: 0px;
	font-style: italic;
}

.row3col3 .container-fluid h3 {
	font-size: 24px;
	margin: 0px;
}

.row3col3 .container-fluid h2 {
	font-size: 44px;
	margin: 0px;
	font-style: italic;
}

.row3col4 {
	background-image: url('images/box_partners.png');
	background-repeat: no-repeat;
	background-position: center;
}

.row3col4 .container-fluid p {
	padding-top: 50px;
}

.footer {
	background-color: #e4e4e4;
	color: dimgray;
}

.footer .no-padding .container-fluid {
	margin: 0px 40px;
	padding: 40px 0px 30px 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.footer .col-md-4 {
	padding: 30px;
}

.btn {
	border-radius: 0px;
	background: rgba(0,0,0,0);
}

.btn.learn-more {
	border: 1px solid skyblue;
	color: skyblue;
}

.btn.btn-reviews {
	border: 1px solid #3e9789;
	color: #3e9789;
}

#properties-button {
	background-color: skyblue;
}

#greylogo {
	padding-top: 25px;
}

